    body {
        font-family: Sans-serif, monospace;
        background-color: #ffffff;   
        display: flex;  
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        margin: 0;
        
    }

    .container {
        flex: 1;
        background: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0px 0px 10px hwb(342 12% 62% / 0.2);
        width: 90%;
        max-width: 500px;
        
    }
    h2 {
        margin-bottom: 20px;
        color: #564D4a;
        text-align: left;
    }

    .summary {
        margin-bottom: 20px;
    }

    .summary p {
        margin: 5px 0;
    }

    .payment.container {
        margin-top: 20px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .items-section, .form-group, .payment-summary {
        margin-bottom: 20px;
    }
    .items-section table {
        width: 10%;
        border-collapse: collapse;
    }
    .items-section th, .items-section td {
        border: 1px solid #fd0000;
        padding: 100px;
        text-align: left;
        
    }
    .items-section th {
        background-color: #5b2333;
    }
    label {
        display: block;
        margin-bottom: 5px;
        color: #000000;
    }
    input, select {
        color: #000000;
        width: 90%;
        padding: 10px;
        border: 0.5px solid #d4d4d4;
        border-radius: 4px;
        font-size: 16px;
    }

    input::placeholder {
        color: #bebebe;
        font-style: italic;
    }
        
    button {
        float: right;
        width: 30%;
        padding: 10px;
        background-color: #5b2333;
        border: none;
        border-radius: 4px;
        color: white;
        font-size: 16px;
        cursor: pointer;
    }

    button:hover {
        background-color: #000000;
    }

    footer {
        text-align: left; /* Center-align the text */
        padding: 50px 0; /* Add padding for spacing */
        font-size: 14px; /* Adjust font size */
        width: 100%; /* Span the full width of the page */
        color: #000; /* Footer text color */
        margin-top: 70px; 
    }
    
    

