.first-navbar{
    background-color: #f7f7f7;
}

.second-nav {
    text-align: center;
    padding: 10px;
    width: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }


  .second-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .second-nav li {
    margin: 0 15px;
    display: flex;
    float: left;
    white-space: nowrap;
  }
  
  .second-nav a {
    text-decoration: none; 
    font-weight: 700;
    color: #333;
    position: relative;
    transition: color 0.3s ease-in-out, text-decoration 0.3s ease-in-out;
  }

  .second-nav a:hover {
    color: #5b2333;
    
  }

  .second-nav a:hover::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #5b2333;
    animation: underline-animation 0.5s ease-in-out, nav-animation 0.5s ease-in-out;
  }


  @keyframes underline-animation {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes nav-animation {
    from{
        color: #333;
    }
    to{
        color: #5b2333;
    }
  }


.btn, .cart-color{
    color: #6c6c6c;
    
} 

.bi-cart3, .bi-person{
    font-size: 25px;
}

.navbar-nav{
    color: #6c6c6c;
    display: flex;
    align-items: center;
} 

.cart-count{
   position: absolute;
    margin: 10px auto;  
    font-size: 7px;
}

.navbar-nav :hover{
    color: #5b2333;
}

.navbar-nav, .btn{
    padding: 0 10px;
    font-size: 18px;
    border: none;
    background-color: transparent;
}

.form-control{ 
    width: 250px;
    height: 35px;
    border-radius: 5px;
    padding: 10px;
}

.btn:hover{
    background-color: #f0f0f0;
}

section{
    display: block;
}



